<!--Header-->
<header id="header" class="header-narrow header-full-width" >
    <!-- smc_m/js_header_main.html -->
    <!--{*
    <!--{? _GET.device_type=='app'}-->
    <div class="header-body app" id="menu-app">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-logo">
                    <a href="/home">홈</a>
                </div>
                <div class="header-column  justify-content-center" >
                    <div class="header-search search_box">
                        <form id="searchForm" action="/trade/total" method="get" novalidate="novalidate">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                                <input type="text" class="form-control" name="name" id="q" placeholder="실시간 인기종목 보러가기..." required="" style="width: 100%;" value="<!--{=_GET.name}-->">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="header-menu">
                    <!--{? _SESSION.USER_ID}-->
                    <a href="/logout">로그아웃</a>
                    <!--{:}-->
                    <a href="/login">로그인</a>
                    <!--{/}-->
                </div>
            </div>
        </div>
    </div>
    <!--{/}-->
    *}-->
    <!--{? _GET.device_type!='app'}--> <!--{/}-->
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column  justify-content-left" >
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="/home"><img alt="KMCSE" width="45" src="img/main/kmcse-stock-logo.png"></a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-center">
                    <div class="header-row">
                        <div class="header-nav header-nav-dark-dropdown header-nav-top-line justify-content-end">
                            <div class="header-nav-main header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <!-- <a href="/home"><img alt="KMCSE" src="img/main/mobile_logo.png"></a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-top-line justify-content-end">
                            <div class="header-nav-main header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown header-search-wrap">
                                            <a class="dropdown-item dropdown-toggle pr-5" href="#"><i class="fa fa-search3 fs-18"></i> </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="header-search">
                                                        <form id="searchForm" action="/trade/total" method="get" novalidate="novalidate">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" name="name" id="q" placeholder="Search..." required="" value="<!--{=_GET.name}-->">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
                                                                </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-mega dropdown-mega-shop" id="headerShop"></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-nav-main header-nav-mobile" id="menu-mobile" <!--{? _GET.device_type=='mobile'}-->style="display:none !important"<!--{/}--> >
                                <ul class="nav">
                                    <li class="mega-shop" style="display:none;">
                                        <a class="dropdown-item" href="/message">
                                            <i class="fa fa-credit-card fs-18"></i>
                                            <span class="cart-items"></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <div class="btn-area">
                                            <!-- smc_m/js_header_main.html -->
                                            <button class="btn header-btn-collapse-nav minimalize-styl-2 navbar-toggle collapsed" id="showRight">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                        </div>
                                    </li>
                                </ul>

                                <nav class="cbp-spmenu-dim" id="hideNav">
                                </nav>
                                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
                                    <div class="nav_close">
                                            <h3 id="closeMenu" style="cursor:pointer"><i class="fa fa-arrow-right"></i> </h3>
                                    </div>
                                    <div class="flags">
                                        <ul id="chlang" class="list-inline mb-0">
                                        <li><a href="/en" data-lang="en"><div class="flag flag-us"></div></a> </li>
                                        <li><a href="/cn" data-lang="cn"><div class="flag flag-cn"></div></a> </li>
                                        <li><a href="/kr" data-lang="kr"><div class="flag flag-kr"></div></a> </li>
                                        </ul>
                                    </div>
                                    <div class="nav_username">
                                        <!--{_SESSION.USER_NAME}-->
                                    </div>
                                    <div class="top_button">
                                        <!--{? _SESSION.USER_ID}-->
                                        <a href="/logout" class="btn btn-primary"><img src="./img/logout.png" class="m_menu" /> <?=Lang::main_29;?></a>
                                        <!--{:}-->
                                        <a href="<!--{_SERVER.LOGIN_PAGE}-->" class="btn btn-primary"><img src="/template/admin/smc/img/login.png" class="m_menu" /> <?=Lang::main_4;?></a>
                                        <a href="/join?ret_url=<!--{=_SERVER.RET_URL}-->" class="btn btn-primary">/<!--{=base64_encode(_SERVER.HTTP_REFERER)}--> / <img src="./img/m_join.png" class="m_menu" /> <?=Lang::main_5;?></a>
                                        <!--{/}-->
                                    </div>
                                    <div class="nav_menu">
                                        <a class="page-scroll" href="/trade/gws"> Home</a>
                                        <!--{*
                                        <a class="page-scroll" href="/exchange"><img src="./img/menu-exchange.png" class="m_menu" /> <?=___('main','교환소');?></a>
                                        *}-->
                                        <li class="dropdown header-search-wrap dropdown-li">
                                            <a class="dropdown-item dropdown-toggle pr-5 dropdown-a" href="#"> <?=Lang::main_0;?></a>
                                            <ul class="dropdown-menu dropdown-ul">
                                                <li><a class="dropdown-item subMenu_m" id="gws_area" href="/trade/gws"><div class="gws_image"></div>&nbsp;&nbsp;<?=Lang::main_GWS;?></a></li>
                                                <li><a class="dropdown-item subMenu_m" id="htc_area" href="/trade/htc"><div class="htc_image"></div>&nbsp;&nbsp;<?=Lang::main_HTC;?></a></li>
                                                <!--{*<li><a class="dropdown-item subMenu_m" id="bdc_area" href="<!--{? getSymbolactive('BDC')=='N'}-->javascript:alert('준비중입니다.');<!--{:}-->/trade/bdc<!--{/}-->"><div class="jin_image"></div>&nbsp;&nbsp;<?=Lang::main_BDC;?></a></li>*}-->
                                            </ul>
                                        </li>
                                        <li class="dropdown header-search-wrap dropdown-li">
                                            <a class="dropdown-item dropdown-toggle pr-5 dropdown-a" href="#"> <?=Lang::main_1;?></a>
                                            <ul class="dropdown-menu dropdown-ul">
                                                <li><a class="dropdown-item subMenu_m" href="/trade/wallet"><?=Lang::main_12;?></a></li>
                                                <li><a class="dropdown-item subMenu_m" href="/trade/deposit"><?=Lang::main_13;?></a></li>
                                                <!--<li><a class="dropdown-item subMenu_m" href="/trade/exchange">Exchange</a></li>-->
                                                <li><a class="dropdown-item subMenu_m" href="/trade/withdrawal"><?=Lang::main_14;?></a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown header-search-wrap dropdown-li">
                                            <a class="dropdown-item dropdown-toggle pr-5 dropdown-a" href="#"> <?=Lang::main_2;?></a>
                                            <ul class="dropdown-menu dropdown-ul">
                                                <li><a class="dropdown-item subMenu_m" href="/faq"><?=Lang::main_31;?></a></li>
                                                <li><a class="dropdown-item subMenu_m" href="/notice"><?=Lang::main_32;?></a></li>
                                                <li><a class="dropdown-item subMenu_m" href="/mtom"><?=Lang::main_33;?></a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown header-search-wrap dropdown-li">
                                            <a class="dropdown-item dropdown-toggle pr-5 dropdown-a" href="#"> <?=Lang::main_3;?></a>
                                            <ul class="dropdown-menu dropdown-ul">
                                                <li><a class="dropdown-item subMenu_m" href="/edit"><?=Lang::main_35;?></a></li>
                                                <li><a class="dropdown-item subMenu_m" href="/certification"><?=Lang::main_36;?></a></li>
                                                <li><a class="dropdown-item subMenu_m" href="/editpin"><?=Lang::main_37;?></a></li>
                                                <li><a class="dropdown-item subMenu_m" href="/histories"><?=Lang::main_38;?></a></li>
                                            </ul>
                                        </li>
                                        <!--<a class="page-scroll &lt;!&ndash;{? _SERVER.SCRIPT_NAME =='/member/memberEdit.php' || _SERVER.SCRIPT_NAME =='/account/myinfo.php'}&ndash;&gt;active&lt;!&ndash;{/}&ndash;&gt;" href="/edit">  MyAccount</a>-->
                                    </div>

                                    <footer>
                                        <p class="mcopyright">KMCSE, LTD / Copyrightⓒ 2020, KMCSE</p>
                                    </footer>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


</header>
<!--End Header-->