<!--{+ lnb}-->
<dl id="js_left_menu_box">
	<!-- <dt id="menu_header"><span style="color:#FFF">COMMUNITY</span></dt> -->
	<dd id="menu_body">
		<div id="menubox">
		<ul>
			<!--{=menuBbs('comm')}-->
		</ul>
		</div>
	</dd>
</dl>

<!--{+ community}-->
<dl id="js_left_menu_box">
	<!-- <dt id="menu_header"><span style="color:#FFF">COMMUNITY</span></dt> -->
	<dd id="menu_body">
		<div id="menubox">
		<ul>
			<!--{=menuBbs('comm')}-->
		</ul>
		</div>
	</dd>
</dl>

<!--{+ join}-->
<dl id="js_left_menu_box">
	<dd id="menu_body">
		<div id="menu_title">
			회원
		</div>
		<div id="menubox">
		<ul>
			<li class="arrow"><a href="/login">로그인</a></li>
			<li class="arrow"><a href="/realname_check">회원가입</a></li>
			<li class="arrow"><a href="/findinfo">이메일/비밀번호 찾기</a></li>
			<!--{*<li class="arrow"><a href="/member/memberInfoFind.php">비번찾기</a></li>*}-->
		</ul>
		</div>
	</dd>
</dl>

<!--{+ mypage}-->
<dl id="js_left_menu_box">
	<dd id="menu_body">
		<div id="menu_title">
			회원정보
		</div>
		<div id="menubox">
		<ul>
			<li class="arrow"><a href="/edit">회원정보수정</a></li>
			<li class="arrow"><a href="/edit_pin">거래비밀번호 설정</a></li>
			<li class="arrow"><a href="/mtom">1:1 문의</a></li>
			<li class="arrow"><a href="/withdraw">회원탈퇴</a></li>
		</ul>
		</div>
	</dd>
</dl>

<!--{+ myaccount}-->
<dl id="js_left_menu_box">
	<dd id="menu_body">
		<div id="menu_title">
			나의계정
		</div>
		<div id="menubox">
		<ul>
			<li class="arrow"><a href="/account/request.php?&gnb_code=BV55632&cate_code=JL61389">입출금</a></li>
			<li class="arrow"><a href="/account/myinfo.php?&gnb_code=BV55632&cate_code=TP12873">개인거래내역</a></li>
			<!--{*<li class="arrow lilist_over"><a href="/member/memberEdit.php?&gnb_code=BV55632&cate_code=EJ48301">본인인증정보</a></li>*}-->
		</ul>
		</div>
	</dd>
</dl>


<!--{+ cscenter}-->
<dl id="js_left_menu_box">
	<!-- <dt id="menu_header"><span style="color:#FFF">CS CENTER</span></dt> -->
	<dd id="menu_body">
		<div id="menubox">
		<ul>
			<li class="arrow"><a href="/cscenter/?code=information">이용안내</a></li>
			<li class="arrow"><a href="/cscenter/?code=agreement">이용약관</a></li>
			<li class="arrow"><a href="/cscenter/?code=private">개인정보 취급방침</a></li>
			<li class="arrow"><a href="/cscenter/partnership.php">광고 · 제휴문의</a></li>
			<li class="arrow"><a href="/cscenter/?code=refusal">이메일 무단수집거부</a></li>
		</ul>
		</div>
	</dd>
</dl>

<!--{+ member}-->
<dl id="js_left_menu_box">
	<!-- <dt id="menu_header"><span style="color:#FFF">COMMUNITY</span></dt> -->
	<dd id="menu_body">
		<div id="menubox">
		<ul>
			<!--{=menuBbs('comm')}-->
		</ul>
		</div>
	</dd>
</dl>

