<!-- 
<section class="section main_mid_bar" id="BannerText">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 text-white text-center mt-10 mb-5 pd-box2">
                <ul class="i-list mb-5">
                    <li class="text-left">
                        <span class="list-item">- :</span>
                        <span class="list-item text-warning">$ -</span>
                    </li>
                    <li class="text-left">
                        <span class="list-item">- :</span>
                        <span class="list-item text-warning">$ -</span>
                    </li>
                    <li class="text-left">
                        <span class="list-item">- :</span>
                        <span class="list-item text-warning">$ -</span>
                    </li>
                    <li class="text-left">
                        <span class="list-item">- :</span>
                        <span class="list-item text-warning">$ -</span>
                    </li>
                    <li class="text-left">
                        <span class="list-item">- :</span>
                        <span class="list-item text-warning">$ -</span>
                    </li>
                    <li class="text-left">
                        <span class="list-item">- :</span>
                        <span class="list-item text-warning">$ -</span>
                    </li>
                    <li class="text-left">
                        <span class="list-item">- :</span>
                        <span class="list-item text-warning">$ -</span>
                    </li>
                    <li class="text-left">
                        <span class="list-item">- :</span>
                        <span class="list-item text-warning">$ -</span>
                    </li>
                    <li class="text-left">
                        <span class="list-item"></span>
                        <span class="list-item text-warning"></span>
                    </li>
                </ul>
            </div>
        </div>        
        <div class="row">
            <div class="col-12 col-md-12 text-white text-center mb-5 pd-box2">
                <ul class="i-list2 mb-5">
                        <li class="text-left">
                            <span class="list-item main_news_title"><b><?=Lang::main_6;?></b></span>
                            <span class="list-item main_news_text1"><?=cutStr(Lang::main_19,24,'...')?></span>                                                                                     
                        </li>                        
                        <li class="text-left">
                            <span class="list-item main_news_title"><b><?=Lang::main_7;?></b></span>
                            <span class="list-item "><?=cutStr("(josun)The Future of Credit Transactions UniteGlo...",35,'...')?></span>
                        </li>                                           
                </ul>
                
            </div>                        
        </div>           
    </div>
</section>

 -->

<!-- 20190816 추가 -->
<div class="m_union_viual">
    <div class="m_union_viual_txt">
        <P>카드로 결제하고 , 폰으로 결제하고</P>
        <strong>
            <em>코인,</em> 생활의 결제 수단이 되다.
        </strong>
        <span>
            현금처럼 사용하는 암호화폐 상용화 전문 거래소
            <em>KMCSE</em>
        </span>
    </div>
</div>
<!-- // 20190816 추가 -->

<div class="page">

       <!--  <section class="section">
            <div id="root"></div>
        </section> -->

        <section class="section">
            <div class="container main-feature-container pt-50 pb-50 pl-40 pr-40">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="feature-box feature-box-st">
                        <div class=" icn-holder mb-30 ">
                            <img src="/template/admin/smc/img/main/main-feature-1<!--{_SESSION.lang}-->.png" />
                        </div>
                        <div class="feature-box-text text-center">
                            <div class="feature-box-text-inner NotoSansCJKkr text-left text-black  main-feature-text">
                                <?=Lang::main_20;?>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="feature-box feature-box-st">
                        <div class=" icn-holder mb-30">
                                <img src="/template/admin/smc/img/main/main-feature-2<!--{_SESSION.lang}-->.png" />                            
                        </div>
                        <div class="feature-box-text text-center">
                            <div class="feature-box-text-inner NotoSansCJKkr text-left text-black  main-feature-text">
                                <?=Lang::main_21;?>                                    
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="feature-box feature-box-st">
                            <div class=" icn-holder mb-30">
                                    <img src="/template/admin/smc/img/main/main-feature-3<!--{_SESSION.lang}-->.png" />
                            </div>
                            <div class="feature-box-text text-center">
                                <div class="feature-box-text-inner NotoSansCJKkr text-left text-black  main-feature-text">
                                    <?=Lang::main_22;?>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!--{# js_tpl_footer}-->
</div>