<div class="page main">
    <div class="container">
        <div class="key-visual">
            <img src="img/main/main-visual.jpg" alt="">
        </div>
        
        <div class="page-inner pt-none">
            <section class="section">
                <div class="container">
                    <div class="row">                          
                        <div class="col-md-12">
                           <table class="table table-striped">
                            <thead>
                               <tr>
                                  <th class="text-center">Coin</th>
                                  <th class="text-center">Real time ticker</th>
                                  <th class="text-center">Charge(%)</th>
                                  <th class="text-center">Transaction</th>
                                  <th class="text-center">Buy / Sell</th>
                               </tr>
                            </thead>
                            <tbody>
                                <tr>
                                   <td>
                                        Bit coin
                                        <a class="btn-chart" href="#"><img src="img/main/btn-chart.png" width="27px" alt=""></a>
                                    </td>
                                   <td class="text-right">7,092,000 $</td>
                                   <td class="text-right font-azul">-11,000 $(-0.15%)<i class="fa fa-play" aria-hidden="true"></i></td>
                                   <td class="text-right">7,092,000 $</td>
                                   <td class="text-center">
                                        <a class="btn btn-light-peach btn-xs btn-radius" href="#">buy</a>
                                        <a class="btn btn-light-blue-grey btn-xs btn-radius" href="#">sell</a>
                                    </td>
                                </tr>
                                <tr>
                                   <td>Bit coin<a class="btn-chart" href="#"><img src="img/main/btn-chart.png" width="27px" alt=""></a></td>
                                   <td class="text-right">7,092,000 $</td>
                                   <td class="text-right font-deep-red">-11,000 $(+0.15%)<i class="fa fa-play" aria-hidden="true"></i></td>
                                   <td class="text-right">7,092,000 $</td>
                                   <td class="text-center">
                                        <a class="btn btn-light-peach btn-xs btn-radius" href="#">buy</a>
                                        <a class="btn btn-light-blue-grey btn-xs btn-radius" href="#">sell</a>
                                    </td>
                                </tr>
                            </tbody>
                         </table>
                        </div>
                    </div>
                    <hr class="tiny">
                </div>
            </section>
        </div>
    </div>
    
    <!--{# js_tpl_footer}-->
</div>