<!--Header-->
<!--{? _SERVER.SCRIPT_NAME =='/bbs/bbs.php'}-->
<header id="header" class="header-narrow header-transparent header-full-width header-transparent-bottom-border" >
    <!--{:}-->
    <header id="header" class="header-narrow header-full-width ">
        <!--{/}-->
        <div class="header-body no-border">
            <!--{? _SERVER.SCRIPT_NAME !='/bbs/bbs.php'}-->
            <!--{/}-->
            <div class="container">
                <div class="header-row">
                    <div class="header-column justify-content-center">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="/home"><img alt="coinstonck.com" width="286" src="img/main/main-logo.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row font-dark-slate-blue ">
                            <span class="ml-30">Perfect Security Cryptographic Exchange</span>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                           <ul>
                               <li><a href="">login</a></li>
                               <li><a href="">membership</a></li>
                               <li><a href="">customer support</a></li>
                               <li><a href="">my page</a></li>
                           </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-body  no-border bg-charcoal-grey">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="gnb-menu ml-25">
                            <ul class="pl-none mb-none">
                                <li><a href="">Noice</a></li>
                                <li><a href="">All prices test</a>
                                    <ul class="pl-none mb-none">
                                        <li><a href="">Noice</a></li>
                                        <li><a href="">All prices test</a>
                                        
                                        </li>
                                        <li><a href="">Coin order</a></li>
                                        <li><a href="">Conclusion</a></li>
                                        <li><a href="">Analysis</a></li>
                                        <li><a href="">Chart</a></li>
                                        <li><a href="">Cash in-out</a></li>
                                        <li><a href="">Coin in-out</a></li>
                                        <li><a href="">History</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Coin order</a></li>
                                <li><a href="">Conclusion</a></li>
                                <li><a href="">Analysis</a></li>
                                <li><a href="">Chart</a></li>
                                <li><a href="">Cash in-out</a></li>
                                <li><a href="">Coin in-out</a></li>
                                <li><a href="">History</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-body  no-border">
            <div class="container bg-grey">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>Account balance : 1,234,567,890 <small>KRM</small></li>
                            <li>Account valuation : 1,234,567,890 <small>KRM</small></li>
                            <!-- <li><a href="#" class="btn bg-charcoal">Owned Coin : 300 SMART COIN</a></li> -->
                        </ul>
                        <a href="#" class="btn fw-4 bg-charcoal">Owned Coin : 300 SMART COIN</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--End Header-->