/* ######### Drop Down DIVs CSS ######### */

.ddsubmenustyle, .ddsubmenustyle div{ /*topmost and sub DIVs, respectively*/
margin: -1px 0px 0px 0px;
padding: 0;
position: absolute;
left: 0;
top: -1px;
list-style-type: none;
background: white;
border: 1px solid #e6e6e6;
border-bottom: 0px solid #e6e6e6;
visibility: hidden;
z-index: 100;
}

.ddsubmenustyle ul{
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
border: 0px none;
}

.ddsubmenustyle li a{
display: block;
width: 175px; /*width of menu (not including side paddings)*/
height:30px;
line-height:30px;
color: black;
background-color: #F9F9F9;
text-decoration: none;
padding:0px 5px 0px 5px;;
border-bottom: 1px solid #e6e6e6;
}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display: inline-block;
width: 170px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle li a:hover{
background-color: #ddd;
}

/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 4px;
border: 0;
}

.rightarrowpointer{ /*CSS for "right" arrow image added to drop down menu items*/
position: relative;
padding-top: 3px;
left: 0px;
border: 0;
}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}