@charset "utf-8"; 

.faq_answer {display:none;}
.faq_subject {border-bottom:1px solid #e3e3e3;padding:5px;margin:5px 0px;}
.faq_contents {border-bottom:1px solid #e3e3e3;padding:5px 5px 10px 50px;margin:0px 0px 5px 0px;background:url("../../images/faq_a.gif") 28px 6px no-repeat;}

/* FAQ */
.faq {border-bottom:1px solid #ddd;margin:1em 0}
.faq .faqHeader{height:20px; position:relative;zoom:1; text-align:right;}
.faq .faqBody{margin:0;padding:0}
.faq .faqBody .article{list-style:none}
.faq .q{margin:0;border-top:1px solid #ddd}
.faq .q a{display:block;padding:.5em 1em;text-align:left;font-weight:normal;color:#323232;text-decoration:none !important}
.faq .q a:hover, .faq .q a:active, .faq .q a:focus{background:#f7f7f7;}
.faq .a{background:#f9f9f9;margin:0;padding:1em 1em 1em 2.8em;line-height:1.5}