<!DOCTYPE html>
<html lang="en">
  <head>
  	<title> Join Clause Form </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--<link rel="stylesheet" type="text/css"  href="css/smart-forms.css">
    <link rel="stylesheet" type="text/css"  href="css/font-awesome.min.css">-->
    

    <!--[if lte IE 9]>
    	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>    
        <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <![endif]-->    
    
    <!--[if lte IE 8]>
        <link type="text/css" rel="stylesheet" href="css/smart-forms-ie8.css">
    <![endif]-->
       
</head>

<body class="woodbg">

	<div class="smart-wrap">
    	<div class="smart-forms smart-container pb-30">
        
        	<div class="form-header header-primary">
            	<h4><i class="fa fa-pencil-square"></i><!--{77}--></h4>
            </div><!-- end .form-header section -->

            	<div class="form-body">
                
                    <div class="spacer-b30">
                    	<div class="tagline"><span><!--{79}--></span></div><!-- .tagline -->
                    </div>

                    <div class="section">
                        <label for="terms" class="field-label"><!--{79}--> <em> * </em> </label>
                        <label class="field prepend-icon">
                            <textarea class="gui-textarea" name="terms" id="terms" readonly >
                                <!--{terms}-->
                            </textarea>
                            <span class="field-icon"><i class="fa fa-file-text"></i></span>
                        </label>
                        
                        <label class="option block">
                            <input type="checkbox" name="ok_agreement" id="ok_agreement" value="y" >
                            <span class="checkbox"></span> 
                            <!--{80}-->
                        </label>
                    </div><!-- end section -->
                
                    <div class="spacer-t30 spacer-b30">
                    	<div class="tagline"><span><!--{82}--></span></div><!-- .tagline -->
                    </div>

                    <div class="section">
                        <label for="policy" class="field-label"><!--{82}--> <em> * </em> </label>
                        <label class="field prepend-icon">
                            <textarea class="gui-textarea" name="policy" id="policy" readonly >
                                <!--{privacy}-->
                            </textarea>
                            <span class="field-icon"><i class="fa fa-file-text"></i></span>
                        </label>
                        
                        <label class="option block">
                            <input type="checkbox" name="ok_private" id="ok_private" value="y" >
                            <span class="checkbox"></span> 
                            <!--{83}-->
                        </label>
                    </div><!-- end section -->
                    
                </div><!-- end .form-body section -->
                <div class="input-group mb-50">
                	<button type="button" class="btn btn-gold fs-20"  onclick="checkAgree()"><!--{84}--></button>
                </div><!-- end .form-footer section -->
            
        </div><!-- end .smart-forms section -->
    </div><!-- end .smart-wrap section -->
    
    <div></div><!-- end section -->

</body>
</html>
