<!DOCTYPE html>
<html lang="en">
  <head>
  	<title> Smart Forms - Create Account </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--<link rel="stylesheet" type="text/css"  href="css/smart-forms.css">
    <link rel="stylesheet" type="text/css"  href="css/font-awesome.min.css">-->
    

    <!--[if lte IE 9]>
    	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>    
        <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <![endif]-->    
    
    <!--[if lte IE 8]>
        <link type="text/css" rel="stylesheet" href="css/smart-forms-ie8.css">
    <![endif]-->
       
</head>

<body class="woodbg">

	<div class="smart-wrap">
    	<div class="smart-forms smart-container ap">
        
        	<div class="form-header header-primary">
            	<h4><i class="fa fa-pencil-square"></i><!--{219}--></h4>
            </div><!-- end .form-header section -->
            
            <form method="post" action="/join" id="joinform">
                <input type="hidden" name="pg_mode" value="write" />
                <input type="hidden" name="name" value="" />
							
            	<div class="form-body">
                
                    <div class="spacer-b30">
                    	<div class="tagline"><span><!--{220}--></span></div><!-- .tagline -->
                    </div>

                    <div class="frm-row">
                        <div class="section colm colm6">
                            <label htmlFor="firstname" class="field-label"><!--{member64}--></label>
                            <label class="field prepend-icon">
                                <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="<!--{member64}-->...">
                                <span class="field-icon"><i class="fa fa-user"></i></span>
                            </label>
                        </div><!-- end section -->

                        <div class="section colm colm6">
                            <label htmlFor="lastname" class="field-label"><!--{member63}--></label>
                            <label class="field prepend-icon">
                                <input type="text" name="lastname" id="lastname" class="gui-input" placeholder="<!--{member63}-->...">
                                <span class="field-icon"><i class="fa fa-user"></i></span>
                            </label>
                        </div><!-- end section -->
                    </div><!-- end .frm-row section -->
                
                	<div class="section">
                        <label htmlFor="userid" class="field-label">ID为您的手机号码. 请输入您的手机号</label>
                    	<label class="field prepend-icon">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select name="mobile_country_code" onChange="changeCountry();" class="custom-select input-group-text d-none d-sm-block" style="height: 42px;border-top-right-radius:0;border-bottom-right-radius:0;">
                                        <option value="CN"><!--{country3}--> +86</option>
                                        <option value="KR"><!--{country11}--> +82</option>
                                        <option value="HK"><!--{country4}--> +852</option>
                                        <option value="MO"><!--{country7}--> +853</option>
                                        <option value="SG"><!--{country10}--> +65</option>
                                        <option value="MY"><!--{country8}--> +60</option>
                                        <option value="ID"><!--{country5}--> +62</option>
                                        <option value="MN"><!--{country9}--> +976</option>
                                        <option value="TH"><!--{country12}--> +66</option>
                                        <option value="AU"><!--{country1}--> +61</option>
                                        <option value="US"><!--{country14}--> +1</option>
                                        <option value="UK"><!--{country13}--> +44</option>
                                        <option value="CA"><!--{country2}--> +1</option>
                                        <option value="JP"><!--{country6}--> +81</option>
                                    </select>
                                    <select name="mobile_country_code" onChange="changeCountry();" class="custom-select input-group-text d-block d-sm-none" style="height: 42px;border-top-right-radius:0;border-bottom-right-radius:0;">
                                        <option value="CN">+86</option>
                                        <option value="KR">+82</option>
                                        <option value="HK">+852</option>
                                        <option value="MO">+853</option>
                                        <option value="SG">+65</option>
                                        <option value="MY">+60</option>
                                        <option value="ID">+62</option>
                                        <option value="MN">+976</option>
                                        <option value="TH">+66</option>
                                        <option value="AU">+61</option>
                                        <option value="US">+1</option>
                                        <option value="UK">+44</option>
                                        <option value="CA">+1</option>
                                        <option value="JP">+81</option>
                                    </select>
                                </div>
                                <input type="tel" value="" class="form-control text-muted" name="phone_number" placeholder="手机号">
                            </div>

                        	<input type="hidden" name="userid" id="userid" class="gui-input" placeholder="手机号">
                        	<input type="hidden" name="mobile" id="mobile" class="gui-input" placeholder="手机号">
                            <span class="field-icon d-none d-sm-block"><i class="fa fa-mobile"></i></span>  
                        </label>
                    </div><!-- end section -->

                	<div class="section">
                        <label htmlFor="userid" class="field-label"><!--{member62}-->
                        (<!--{229}-->)</label>
                    	<label class="field prepend-icon">
                        	<input type="text" name="email" id="email" class="gui-input" placeholder="<!--{member12}-->">
                            <span class="field-icon"><i class="fa fa-envelope"></i></span>  
                        </label>
                    </div><!-- end section -->
                    
                	<!--<div class="section">
                        <div class="smart-widget sm-right smr-120">
                            <label class="field prepend-icon">
                                <input type="text" name="username" id="username" class="gui-input" placeholder="Choose your username">
                                <span class="field-icon"><i class="fa fa-user"></i></span>  
                            </label>
                            <label for="username" class="button">.smcc.io</label>
                        </div>&lt;!&ndash; end .smart-widget section &ndash;&gt;
                    </div>--><!-- end section -->
                    
                	<div class="section">
                        <label htmlFor="userpw" class="field-label"><!--{bbs12}--></label>
                    	<label class="field prepend-icon">
                        	<input type="password" name="userpw" id="userpw" class="gui-input" placeholder="<!--{221}-->">
                            <span class="field-icon"><i class="fa fa-lock"></i></span>  
                        </label>
                    </div><!-- end section -->
                    
                	<div class="section">
                    	<label class="field prepend-icon">
                        	<input type="password" name="userpw_a" id="userpw_a" class="gui-input" placeholder="<!--{222}-->">
                            <span class="field-icon"><i class="fa fa-unlock-alt"></i></span>  
                        </label>
                    </div><!-- end section -->
                    
                </div><!-- end .form-body section -->
                <div class="form-footer">
                	<button type="submit" class="button btn-primary"><!--{223}--></button>
                </div><!-- end .form-footer section -->
            </form>
            
        </div><!-- end .smart-forms section -->
    </div><!-- end .smart-wrap section -->
    
    <div></div><!-- end section -->

</body>
</html>
