<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
			<form role="search" class="navbar-form-custom" action="search_results.html">
				<div class="form-group">
					<input type="text" placeholder="<?=Lang::main_57;?>" class="form-control" name="top-search" id="top-search">
				</div>
			</form>
		</div>

		<ul class="nav navbar-top-links navbar-right">
			<!--{*
			<li>
				<a href="/home"><span class="m-r-sm welcome-message"> Home </span></a>
			</li>
			<li class="dropdown">
				<a href="/trade/jin"><span class="m-r-sm welcome-message"> Trade </span></a>
			</li>
			<li class="dropdown">
				<a href="/trade/wallet"><span class="m-r-sm welcome-message"> Wallet </span></a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="/faq"><span class="m-r-sm welcome-message">Support</span></a>
				<ul class="dropdown-menu sub-item">
					<li><a class="dropdown-item" href="/faq">F.A.Q.s</a></li>
					<li><a class="dropdown-item" href="/notice">Notice</a></li>
					<li><a class="dropdown-item" href="/mtom">Direct Inquiry</a></li>
					<li><a class="dropdown-item" href="/guides">Guides</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="/edit"><span class="m-r-sm welcome-message">My Account</span></a>
				<ul class="dropdown-menu sub-item">
					<li><a class="dropdown-item" href="/edit">Edit</a></li>
					<li><a class="dropdown-item" href="/editpin">Change Pin Number</a></li>
					<li><a class="dropdown-item" href="/histories">Histories</a></li>
				</ul>
			</li>
			<li>
				<span class="m-r-sm welcome-message">|</span>
			</li>
			*}-->
			<!--{? _SESSION.USER_ID}-->
			<li>
				<a href="/logout"><span class="m-r-sm welcome-message"><?=Lang::main_29;?></span></a>
			</li>
			<!--{:}-->
			<li>
				<a href="<!--{_SERVER.LOGIN_PAGE}-->"><span class="m-r-sm welcome-message"><?=Lang::main_4;?></span></a>
			</li>
			<li>
				<a href="/join?ret_url=<!--{=_SERVER.RET_URL}-->"><span class="m-r-sm welcome-message"><?=Lang::main_5;?></span></a>
			</li>
			<!--{/}-->
			</li>
			<!--<li class="dropdown wallet-box">
				<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
					<i class="fa fa-credit-card"></i>  <span class="label label-warning">2</span>
				</a>
				<ul class="dropdown-menu dropdown-messages">
					<li>
						<div class="dropdown-messages-box">

								<ul class="nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#tab-3"> My Wallet </a></li>
										<li class=""><a data-toggle="tab" href="#charge"> Charge </a></li>
										<li class=""><a data-toggle="tab" href="#send"> Send </a></li>
										<li class=""><a data-toggle="tab" href="#recieve"> Recieve </a></li>
										<li class=""><a data-toggle="tab" href="#history"> History </a></li>
									</ul>
									<div class="tab-content">
										<div id="mywallet" class="tab-pane active">
											<div class="panel-body">
												mywallet
											</div>
										</div>
										<div id="charge" class="tab-pane">
											<div class="panel-body">
												charge
											</div>
										</div>
										<div id="send" class="tab-pane">
											<div class="panel-body">
												send
											</div>
										</div>
										<div id="recieve" class="tab-pane">
											<div class="panel-body">
												recieve
											</div>
										</div>
										<div id="history" class="tab-pane">
											<div class="panel-body">
												history
											</div>
										</div>
									</div>
						</div>
					</li>
				</ul>
			</li>-->
		</ul>
	</nav>
</div>