<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Morrowstock Trading System</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="webfont/cryptocoins.css" rel="stylesheet">

<!--{? _SERVER.SCRIPT_NAME=='/trading/index.php' }-->
	<!-- Toastr style -->
	<link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">
	<!-- Gritter -->
	<link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
	<!-- c3 Charts -->
	<link href="css/plugins/c3/c3.min.css" rel="stylesheet">
	<link href="css/rc-slider.css" rel="stylesheet">

	<script>
        var interval = null;
	</script>

	<!-- Smart Forms CSS -->
	<link href="../smc/smartforms/Templates/css/smart-loader.css" rel="stylesheet" />
	<link href="../smc/smartforms/Templates/css/smart-addons.css" rel="stylesheet" />
	<link href="../smc/smartforms/Templates/css/smart-forms.css" rel="stylesheet" />

<!--{: _SERVER.SCRIPT_NAME=='/bbs/bbs.php' && (_GET.pg_mode=='list') }-->
	<!-- FooTable -->
	<link href="css/plugins/footable/footable.core.css" rel="stylesheet">
	<link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">

<!--{: _SERVER.SCRIPT_NAME=='/bbs/bbs.php' && (_GET.pg_mode=='view') }-->
	<!-- Toastr style -->
	<link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">
	
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

<!--{: _SERVER.SCRIPT_NAME=='/bbs/bbs.php' && (_GET.pg_mode=='form_new') }-->
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

	<link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
	
<!--{/}-->

	<link href="css/animate.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<link href="css/smart-forms.css" rel="stylesheet">

	<!-- SCC CSS -->
	<link rel="stylesheet" href="css/scc.css">
	<link rel="stylesheet" href="../smc/css/coin.css">

</head>

<!--{? _SERVER.SCRIPT_NAME=='/trading/wallet.php' }-->
<body class="gray-bg">
	<div class="middle-box text-center loginscreen animated fadeInDown">

<!--{: _SERVER.SCRIPT_NAME=='/trading/analysesAdmin.php'}-->
<body onload="smartcoin.analyses.Application.main();">
		<div id="wrapper">
<!--{:}-->
<body>
	<div id="wrapper">
<!--{/}-->
		<!--{# js_tpl_contents}-->
	</div>
</body>
</html>