
<footer class="footer stylelamas bg-block-top-shadow">
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 mb30">
					<h2><!--{config_basic.license_company}--></h2>
				</div>
				<div class="col-md-6 col-sm-12 mb10 hidden-xs">
					<section>
						<div class="clearfix social-wrap">
							<ul class="pl-none">
								<li><p class="mb-0"><strong>운영시간 : 평일 10시~6시 (점심시간 12시 ~13시)</strong></p></li>
								<li><p class="mb-0"><strong>대표메일 : </strong> <a class="b-link" href="mailto:<!--{config_basic.shop_admin_email}-->"><!--{config_basic.shop_admin_email}--></a></p></li>
								<!--{?config_basic.shop_phone}-->
								<li><p class="mb-0"><strong>고객센터 : </strong> <!--{config_basic.shop_phone}--></p></li>
								<!--{/}-->
								<!--{?config_basic.shop_fax}-->
								<li><p class="mb-0"><strong>Fax : </strong> <!--{config_basic.shop_fax}--></p></li>
								<!--{/}-->
								<li><p><?=Lang::main_CompanyAddress;?> </p></li>
								<li><p>&nbsp;</p></li>
								<li><p><strong>대표 : </strong> <!--{config_basic.license_ceo}--> 
									<!--{?config_basic.license_no}--><strong>사업자등록번호 : </strong> <!--{config_basic.license_no}--></p></li><!--{/}-->
							</ul>
							</ul>
						</div>

					</section>
				</div>

				<div class="col-md-6 col-sm-12 m10">
					<section>
						<div class="map-img text-right">
							<ul class="pl-none">
								<li class=" hidden-xs"><p>&nbsp;</p></li>
								<!-- <li class=" hidden-xs"><p class="mb-0"><a href="/private">이용약관</a> <strong>개인정보 취급방칭</strong> </p></li> -->
								<!-- <li class=" hidden-xs"><p class="mb-0"><a href="/notice">공지사항</a> <strong>마케팅정보 이용약관</strong></p></li> -->
								<li class=" hidden-xs"><p class="mb-0"><a href="/policy">개인정보 보호정책</a></p></li>
								<li class=" hidden-xs"><p class="mb-0"><a href="/notice">공지사항</a></p></li>
								<li class=" hidden-xs"><p>&nbsp;</p></li>
								<li><p>Copyright © 2022 KMCSE All rights reserved</p></li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</footer>