@charset "utf-8";

.d_market_detail_page .d_mk_detail_right .d_name_top {
    display: flex;
    justify-content: space-between;
  }
  .d_market_detail_page .d_mk_detail_right .d_mk_detail_name .d_name_name {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7557a5;
  }
  .d_market_detail_page .d_mk_detail_right .d_mk_detail_name .d_name_name span {
    vertical-align: middle;
    margin-right: 10px;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_function {
    display: flex;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_function li {
    margin-left: 18px;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_function li i {
    color: #6796c4;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_function li span {
    vertical-align: middle;
    margin-right: 5px;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_mid {
  }
  .d_market_detail_page .d_mk_detail_right .d_name_mid h3 {
    font-weight: bold;
    font-size: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: normal;
    text-align: left;
    color: #1d2b44;
  
  }
  .d_market_detail_page .d_mk_detail_right .d_name_mid h4 {
    font-size: 1.125rem;
    margin-bottom: 20px;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_mid h4 a {
    color: #6796c4;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_mid ul {
    display: flex;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_mid li {
    margin-right: 25px;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_mid li:last-child {
    margin-right: 0;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_mid li span {
    margin-right: 10px;
  }
  .d_market_detail_page .d_mk_detail_right .dm_name_mid_img {
    display: none;
    padding-bottom: 17px;
    border-bottom: 1px solid #000;
  }
  .d_market_detail_page .d_mk_detail_right .dm_name_mid_img img {
    display: block;
    width: 100%;
  }
  
  
  .d_market_detail_page .d_mk_detail_right .d_mk_detail_status h5 {
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #7557a5;
    line-height: 40px;
    text-align: left;
    font-size: 1.3rem;
    padding-left: 20px;
    margin: 10px 0px 0px 0px;
  }
  
  .d_market_detail_page .d_mk_detail_right .d_name_bot {}
  .d_market_detail_page .d_mk_detail_right .d_name_bot > span {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_bot h4 {
    vertical-align: middle;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_bot h4 em {
    font-weight: bold;
    font-size: 1.75rem;
    color: #000000;
    margin-right: 10px;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_bot h4 i {
    font-size: 0.9rem;
    color: #636363;
  }
  
  .d_market_detail_page .d_mk_detail_right .d_name_bot .d_name_btn_group {
    display: flex;
    margin: 15px 0px 5px 0px;
  }
  .d_market_detail_page .d_mk_detail_right .d_name_bot .d_name_btn {
    width: 200px;
    height: 64px;
    border-radius: 10px;
    background-color: #7557a5;
    color: #fff;
    font-weight: 400;
    font-size: 1.625rem;
    margin-right: 10px;
  }
  
  .d_market_detail_page .d_mk_detail_right .d_name_bot .d_name_btn[name=btn-bid] {
    background: #ffffff;
    color: #7557a5; 
    border: solid 1px #7557a5;
  }