@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,address{margin:0;padding:0;}
table{width:100%;border:0;border-collapse:collapse;border-spacing:0;font-size:inherit;}
fieldset,img{border:0;vertical-align:middle;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
a {text-decoration:none; }

input,textarea,select{font-family:inherit;font-size:13px; /*font-weight:inherit;*/ vertical-align:middle;}
body{position:relative;width:100%;height:100%; font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; font-size:12px; color:#444; }
hr {display:none;}
header, section, article,aside, nav, footer{display:block;}
#skip,.hidden,hr,caption,legend {display:none;}

input:focus{ outline:none; }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
 }


/* margin */
.m0{ margin:0; }
.mtb518{ margin:50px 18px; }


.mt0{ margin-top:0; }
.mt20{ margin-top:20px; }
.mt30{ margin-top:30px; }
.mt37{ margin-top:37px; }
.mt40{ margin-top:40px; }
.mt50{ margin-top:50px; }

.mb0{ margin-bottom:0 !important; }
.mb1{ margin-bottom:1px !important; }
.mb2{ margin-bottom:2px !important; }
.mb3{ margin-bottom:3px !important; }
.mb4{ margin-bottom:4px !important; }
.mb5{ margin-bottom:5px !important; }
.mb6{ margin-bottom:6px !important; }
.mb7{ margin-bottom:7px !important; }
.mb8{ margin-bottom:8px !important; }
.mb9{ margin-bottom:9px !important; }
.mb10{ margin-bottom:10px !important; }
.mb11{ margin-bottom:11px !important; }
.mb12{ margin-bottom:12px !important; }
.mb13{ margin-bottom:13px !important; }
.mb15{ margin-bottom:15px !important; }
.mb25{ margin-bottom:25px !important; }
.mb30{ margin-bottom:30px !important; }
.mb40{ margin-bottom:40px !important; }
.mb45{ margin-bottom:45px !important; }
.mb50{ margin-bottom:50px !important; }
.mb60{ margin-bottom:60px !important; }
.mb70{ margin-bottom:70px !important; }
.mb75{ margin-bottom:75px !important; }
.mb80{ margin-bottom:80px !important; }
.mb100{ margin-bottom:100px !important; }
.mb130{ margin-bottom:130px !important; }
.mb150{ margin-bottom:150px !important; }
.mb160{ margin-bottom:160px !important; }

.ml0{ margin-left:0; }
.ml10{ margin-left:10px !important; }
.ml40{ margin-left:40px !important; }
.mr0{ margin-right:0 !important; }
.mr10{ margin-right:10px !important; }
.mr20{ margin-right:20px !important; }
.mr70{ margin-right:70px !important; }

/* width */
.wd13{ width:13px !important; }
.wd31{ width:31px !important; }
.wd48{ width:48px !important; }
.wd66{ width:66px !important; }
.wd99{ width:99px !important; }
.wd118{ width:118px !important; }
.wd133{ width:133px !important; }
.wd135{ width:135px !important; }
.wd140{ width:140px !important; }
.wd170{ width:170px !important; }
.wd201{ width:201px !important; }
.wd276{ width:276px !important; }
.wd320{ width:320px !important; }
.wd400{ width:400px !important; }
.wd515{ width:515px !important; }
.wd650{ width:650px !important; }
.wd990{ width:990px !important; }

/*  */
.cr{ clear:both; }

/*  */
.fr{ float:right !important; }

/* font */
.ft14{ font-size:14px; }

/* border */
.brmn{ border-bottom:none !important; }
.brbf{ border-right:1px solid #bfbfbf; }

/* text-align */
.txtal_r{ text-align:right; }
.txtal_l{ text-align:left }
.txtal_c{ text-align:center; }

.ellipsis {text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.img_gray, .inactive {-webkit-filter: grayscale(100%);filter:gray;/* background-color: gray !important; */}

/* ------------------- board view page ----------------- */
#view_contents {}
#view_contents .box_title {padding: 1rem 0;border-bottom: 1px solid #536475;font-size:18px;font-weight: bold;}
#view_contents .box_info {background-color:#f5f5f5;height:40px;line-height: 40px;padding: 0 20px;}
#view_contents .box_info>* {float:left}
#view_contents .box_info>*:last-child {float:right}
#view_contents .box_contents {border-bottom: 1px solid #ddd;padding: 20px;margin: 0px 0px 20px 0px;}

.box-round-gray {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 0.5rem;
    min-height: 10rem;
}